{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "$id": "http://spdx.org/rdf/terms/2.3",
    "name": "spdx-sbom-example",
    "spdxVersion": "SPDX-2.3",
    "documentNamespace": "https://ubuntu.com/sbom/spdx-sbom-example.json",
    {%-  if build_info %}
    "documentComment": "Image build info: {{ build_info }}",
    {% endif -%}
    "creationInfo": {
   	 "creators": [
   	 	"Organization: Ubuntu",
        "Tool: cpc-sbom"
   	 ],
   	 "created": "{{ creation_date}}"
    },
    "packages": [
    {% for installed_package in installed_packages %}
         {
            "SPDXID": "SPDXRef-{{ installed_package.name }}",
            "name": "{{ installed_package.name }}",
            "supplier": "Person: {{ installed_package.maintainer }}",
            {%-  if installed_package.homepage -%}
                "homepage" : "{{ installed_package.homepage }}",
            {%- else %}
                "homepage": "NOASSERTION",
            {%- endif -%}
            {%-  if installed_package.licenses -%}
                "licenseDeclared": "{%- for license in installed_package.licenses -%}{{ license }}{{ " AND " if not loop.last else "" }}{%- endfor -%}",
                "licenseConcluded": "{%- for license in installed_package.licenses -%}{{ license }}{{ " AND " if not loop.last else "" }}{%- endfor -%}",
            {%- else %}
                "licenseDeclared": "NOASSERTION",
                "licenseConcluded": "NOASSERTION",
            {%- endif -%}
            {%-  if installed_package.deb_url -%}
                "downloadLocation": "{{ installed_package.deb_url }}",
            {%- else %}
                "downloadLocation": "NOASSERTION",
            {%- endif -%}
            "PackageCopyrightText": {{ installed_package.copyright }},
            "filesAnalyzed": false,
            "checksums": [
                {%- for checksum in installed_package.checksums -%}
                    {
                    "algorithm": "{{ checksum.algorithm }}",
                    "checksumValue": "{{ checksum.checksum }}"
                    }{{ ", " if not loop.last else "" }}
                {%- endfor -%}
            ],
            "versionInfo": "{{ installed_package.version }}",
            "externalRefs": [
            {
                "referenceCategory": "PACKAGE-MANAGER",
                "referenceLocator": "{{ installed_package.reference_locator }}",
                "referenceType": "purl"
            }
            ],
            {% if installed_package.installed_files -%}
                "hasFiles": [
                    {%- for installed_file in installed_package.installed_files %}
                        "SPDXRef-{{ installed_file.md5sum }}"{{ ", " if not loop.last else "" }}
                    {%- endfor -%}
                ],
            {%- endif %}
            "sourceInfo": "acquired package info from DPKG DB: /usr/share/doc/{{ installed_package.name }}/copyright, /var/lib/dpkg/info/{{ installed_package.name }}.md5sums, /var/lib/dpkg/status"
         }{{ ", " if not loop.last else "" }}
    {% endfor %}
    ],
    "files": [
    {% for installed_package in installed_packages %}
        {%- if installed_package.installed_files -%}
            {%- for installed_file in installed_package.installed_files -%}
                {
                    "SPDXID": "SPDXRef-{{ installed_file.md5sum }}",
                    "fileName": {{ installed_file.fileName }},
                    "comment": "layerID: md5sum:{{ installed_file.md5sum }}",
                {%-  if installed_file.license -%}
                    "licenseDeclared": "{{ installed_file.license }}",
                    "licenseConcluded": "{{ installed_file.license }}"
                {%- else %}
                    "licenseDeclared": "NOASSERTION",
                    "licenseConcluded": "NOASSERTION"
                {%- endif -%}
                }{{ ", " if not loop.last else "" }}
            {%- endfor -%}{{ ", " if not loop.last else "" }}
        {%- endif -%}
    {% endfor %}
    ]
}
