{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "$id": "http://spdx.org/rdf/terms/2.3",
    "name": "spdx-sbom",
    "spdxVersion": "SPDX-2.3",
    "documentNamespace": "https://ubuntu.com/sbom/spdx-sbom-example.json",
    {%-  if build_info %}
    "documentComment": "Image build info: {{ build_info }}",
    {% endif -%}
    "creationInfo": {
   	 "creators": [
   	 	"Organization: Ubuntu",
        "Tool: cpc-sbom {{ cpc_sbom_version }}"
   	 ],
   	 "created": "{{ creation_date }}"
    },
    "packages": [
    {% for installed_package in installed_packages %}
         {% set installed_package_loop = loop %}
         {
            "SPDXID": "SPDXRef-{{ installed_package.name }}",
            "name": "{{ installed_package.name }}",
            "supplier": "Person: {{ installed_package.maintainer }}",
            {%-  if installed_package.homepage -%}
                "homepage" : "{{ installed_package.homepage }}",
            {%- else %}
                "homepage": "NOASSERTION",
            {%- endif -%}
            {%-  if installed_package.licenses -%}
                "licenseDeclared": "{%- for license in installed_package.licenses -%}{% set license_loop = loop %}'{{ license }}'{{ " AND " if not license_loop.last else "" }}{%- endfor -%}",
            {%- else %}
                "licenseDeclared": "NOASSERTION",
            {%- endif -%}
            "licenseComments": "The license information declared for this package was aggregated by parsing the package copyright file. See PackageCopyrightText field for full package copyright text. This package copyright lists source code licenses. The licenses declared do not conform to the SPDX License List Short Form Identifier.",
            {%-  if installed_package.deb_url -%}
                "downloadLocation": "{{ installed_package.deb_url }}",
            {%- else %}
                "downloadLocation": "NOASSERTION",
            {%- endif -%}

            "PackageCopyrightText": {{ installed_package.copyright }},
            "filesAnalyzed": false,
            "checksums": [
                {%- for checksum in installed_package.checksums -%}
                    {% set checksum_loop = loop %}
                    {
                    "algorithm": "{{ checksum.algorithm }}",
                    "checksumValue": "{{ checksum.checksum }}"
                    }{{ ", " if not checksum_loop.last else "" }}
                {%- endfor -%}
            ],
            "versionInfo": "{{ installed_package.version }}",
            "externalRefs": [
            {
                "referenceCategory": "PACKAGE-MANAGER",
                "referenceLocator": "{{ installed_package.reference_locator }}",
                "referenceType": "purl"
            }
            ],
            {% if installed_package.installed_files -%}
                "hasFiles": [
                    {%- for installed_file in installed_package.installed_files %}
                        {% set installed_files_loop = loop %}
                        "SPDXRef-{{ installed_file.identifier }}"{{ ", " if not installed_files_loop.last else "" }}
                    {%- endfor -%}
                ],
            {%- endif %}
            "sourceInfo": "acquired package info from DPKG DB, /usr/share/doc/{{ installed_package.name }}/copyright and /var/lib/dpkg/status"
         }{{ ", " if not installed_package_loop.last else "" }}
    {% endfor %}
    ],
    "files": [
    {% for installed_package in installed_packages %}
        {% set installed_package_loop = loop %}
        {%- if installed_package.installed_files -%}
            {%- for installed_file in installed_package.installed_files -%}
                {% set installed_files_loop = loop %}
                {
                    "SPDXID": "SPDXRef-{{ installed_file.identifier }}",
                    "fileName": {{ installed_file.fileName }},
                    "checksums": [
                        {
                        "algorithm": "sha256",
                        "checksumValue": "{{ installed_file.sha256 }}"
                        }
                    ],
                    "comment": "The sha256 checksum for this file was created during SBOM generation.",
                {%-  if installed_file.license -%}
                    "licenseConcluded": "{{ installed_file.license }}",
                {%- else %}
                    "licenseConcluded": "NOASSERTION",
                {%- endif -%}
                    "licenseComments": "The license information for this file was concluded by parsing the package's copyright file. This package copyright lists source code licenses."
                }{{ ", " if not installed_files_loop.last else "" }}
            {%- endfor -%}
            {{ ", " if not installed_package_loop.last else "" }}
        {%- endif -%}
    {% endfor %}
    ]
}
